@use 'themes';

:root {
	// Global variables:
	@include themes.light;

	@debug "Are themes equal? #{assert-light-and-dark-theme-are-equal-by-keys($themes.light, $themes.dark)}";
}

@media (prefers-color-scheme: dark) {
  :root {
    @include themes.dark
  }
}

body {
	background-color: var(--background-color);
	font-family: var(--font-family);
	color: var(--text-color);
	padding: 0;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a {
	color: var(--color-links);
	text-decoration: none;

	&:hover {
		color: var(--color-links-hover);
		text-decoration: underline;
	}
}
